html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* calculator app base */

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

div.calc {
  width: 400px;
  background-color: black;
  color: white;
  margin: auto;
}

/* result screen  */

.screen {
  font-size: 40px;
  font-family: "Courier New", Courier, monospace;
  text-align: right;
  padding: 20px 5px;
}

/* calculator buttons screen */

.calc-btn-row {
  display: flex;
  align-content: stretch;
  justify-content: space-between;
  margin-bottom: 0.5%;
}

/* calculator buttons design */

.calc-btn {
  width: 24.5%;
  height: 100px;
  background-color: #d8d9db;
  color: black;
  border: none;
  border-radius: 0;
  font-size: 40px;
  cursor: pointer;
}

.calc-btn:hover {
  background-color: background-color: #ebebeb;
}

.calc-btn:active {
  background-color: #ebebeb;
}

.calc-btn:last-child {
  background-color: #df974c;
  color: white;
}

.calc-btn:last-child:hover {
  background-color: #dfb07e;
}

.calc-btn:last-child:active {
  background-color: #dd8d37;
}

.double {
  width: 49.7%;
}

.triple {
  width: 74.8%;
}

.calc-btn-row {
  display: flex;
  align-content: stretch;
  justify-content: space-between;
  margin-bottom: 0.5%;
}



